.savedNews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.savedNews__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 104px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.savedNews__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  margin: 0;
}

.savedNews__user-info {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  width: 530px;
  margin: 28px 0 30px;
}

.savedNews__keywords-label {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.savedNews__keywords-values {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.savedNews__container {
  padding: 104px;
  background-color: #f5f6f7;
  width: 100%;
  box-sizing: border-box;
}

.savedNews__content {
  width: 100%;
  margin: 0 auto;
}

.savedNews__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .newsCard {
    width: 100%;
    max-width: 224px;
    height: 420px;
  }
  .savedNews__header {
    width: 100%;
    max-width: 768px;
    padding: 0 0 32px 40px;
  }
  .savedNews__title {
    font-size: 14px;
    line-height: 24px;
  }
  .savedNews__user-info {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0 16px;
  }
  .savedNews__container {
    width: 100%;
    padding: 32px 0;
    box-sizing: border-box;
  }
  .savedNews__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-content: center;
    max-width: 688px;
  }
  .savedNews__text {
    padding-left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .savedNews__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }
  .savedNews__container {
    padding: 32px 20px;
    box-sizing: border-box;
  }
  .newsCard {
    max-width: none;
    width: 100%;
  }
  .savedNews__user-info {
    max-width: 100%;
  }
  .savedNews__header {
    padding-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .savedNews {
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  .savedNews__header {
    width: 320px;
    padding: 8px 16px 32px;
    box-sizing: border-box;
  }
  .savedNews__title {
    font-size: 12px;
    line-height: 24px;
  }
  .savedNews__user-info {
    width: 288px;
    margin: 16px 0 50px;
  }
  .savedNews__keywords {
    width: 100;
    margin: 0;
  }
  .savedNews__container {
    padding: 24px 16px 12px;
    box-sizing: border-box;
    width: 100%;
  }
  .savedNews__list {
    padding: 0;
    grid-template-columns: 1fr;
    max-width: 288px;
  }
  .savedNews__content {
    max-width: 288px;
  }
  .savedNews__text {
    padding-left: 8px;
  }
}
