.mobileMenuModal {
  top: 56px;
  right: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: #1a1b22;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d1d2d6;
  padding: 16px;
  box-sizing: border-box;
  visibility: hidden;
}

.mobileMenuModal_opened {
  visibility: visible;
}

.mobileMenuModal__home-link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 22px;
}

.mobileMenuModal__home-link-logged-in {
  line-height: 18px;
  margin-top: 16px;
}

.mobileMenuModal__sign-in-btn {
  border: 1px solid #ffffff;
  width: 100%;
  height: 56px;
  background-color: transparent;
  border-radius: 100px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.mobileMenuModal__saved-link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18pxpx;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 22px;
}

.mobileMenuModal__sign-out-btn {
  border: 1px solid #ffffff;
  width: 100%;
  height: 56px;
  background-color: transparent;
  border-radius: 100px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
